$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEZJREFUeAGt0EEKgDAUA1En9z+0qEENhA+FvlUZQqE9Bnynlmlr2iVkSY66AHrg+MddSUiU6VuxqMhYquzcCvO6PZjhx5oTQ+8Bs3EshqIAAAAASUVORK5CYII=),auto;
  background-size: cover;
  background-color: gold;
  background-position: center;
  background-attachment: fixed;}

#logo {
  margin-top: .6em;
  float: left;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 1.7em;
  color: gold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#logo:hover {
  color: gold;
  text-decoration: none;
}

h1 {
  color: gold;
  background-color: black;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 30px;
  letter-spacing: 2px;
  font-size: 6em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif; 
  line-height: 1;
}

.navbar-text {
  color: gold;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif; 
}

.dropdown-text {
  color: gold;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif; 
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('screening.JPG');
  background-size: cover;
  height: 650px;
  margin-left: 0px;
  margin-right: 0px;
}

.jumbotron h1 {
  color: gold;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-size: 10em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif; 
  line-height: 1;
}

.title-text {
  color: gold;
  background-color: black;
  text-align: center;
  text-decoration: underline overline;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-size: 6em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif; 
  line-height: 1;
}

.mini-title-text {
  color: gold;
  background-color: black;
  text-align: center;
  text-decoration: underline overline;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif; 
  line-height: 1;
}

.review-text {
  color: gold;
  background-color: black;
  margin-bottom: 30px;
  letter-spacing: 2px;
  font-size: 3em;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif; 
  line-height: 1;
}

.navbar-text {
  color:gold;
}

.btn-xlg {
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.7em;
  color: gold;
  background-color: black;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 4px solid gold;
  padding-top: 25px;
}

.description {
  margin-top: 0;
}

.article-title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.badge {
  background-color: gold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox {
  width: auto !important;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: black;
}

footer a:hover {
  color: none;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.tv {	
  cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAVCAMAAACeyVWkAAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAEZJREFUeAGt0EEKgDAUA1En9z+0qEENhA+FvlUZQqE9Bnynlmlr2iVkSY66AHrg+MddSUiU6VuxqMhYquzcCvO6PZjhx5oTQ+8Bs3EshqIAAAAASUVORK5CYII=),auto;
}

.well {
  background-color: black;
}